/* Stylesheet for the Bootstrap views of the 'gallery' shortcode */

/* The colors for the Dense View */

$normal-color:white;
$highlight-color:yellow;
$caption-color:cyan;
$icon-color:cyan;
$tabs-highlight-color:cyan;

@mixin navbar_icons(){
  color:white;
  padding:6px 8px;
  margin-top:9px;
  margin-bottom:9px;
  font-size:100%;
  line-height:1.0;
  background-color:transparent;
  border:0 solid transparent;
  &:focus{
    border:0 solid transparent;
  }
}

@mixin overlay_outer(){
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  z-index:100;
  background-color:black;
  display:none;
}

@mixin overlay_inner($top,$left,$width,$height){
  position:fixed;
  top:$top;
  left:$left;
  width:$width;
  height:$height;
  overflow-x:hidden;
  z-index:10000;
  background-color:transparent;
  display:none;
}

@mixin overlay_close_button(){
  position:absolute;
  top:10px;
  right:10px;
  z-index:10000;
  line-height:100%;
  font-size:16px;
  color:$icon-color;
  background-color:transparent;
  padding:3px;
  border:1px solid $icon-color;
  border-radius:3px;
}

@mixin full_viewport_image_overlay(){
    div.bbg_xiv-dense_outer{
        @include overlay_outer();
        opacity:0.0;
        transition:opacity 1.5s ease-out;
    }

    div.bbg_xiv-dense_inner{
        @include overlay_inner(5vh,5vw,90vw,90vh);
        opacity:0.0;
        transition:opacity 1.5s ease-out;

        img{
            display:block;
            width:auto;
            height:100%;
            max-width:none;
            position:absolute;
            left:50%;
            top:0px;
            transform:translate(-50%,0px);
        }
        
        img.bbg_xiv-img_overlay{
            @supports(object-fit:contain){
                width:100%;
                height:100%;
                object-fit:contain;
            }

            @supports not(object-fit:contain){
                display:block;
                width:auto;
                height:100%;
                max-width:none;
                position:absolute;
                left:50%;
                top:0px;
                transform:translate(-50%,0px);
            }
        }

        h1.bbg_xiv-dense_title{
            position:absolute;
            top:0px;
            left:0px;
            width:100%;
            z-index:1000;
            color:$caption-color;
            text-align:center;
            text-shadow:2px 2px 0px black;

            &:hover{
                color:transparent;
            }
        }
          
        h1.bbg_xiv-dense_caption{
            position:absolute;
            bottom:0px;
            left:0px;
            width:100%;
            z-index:1000;
            color:$caption-color;
            text-align:center;
            text-shadow:2px 2px 0px black;

            &:hover{
                color:transparent;
            }
        }
        button.bbg_xiv-dense_close{
            @include overlay_close_button();
        }
    }
}

div.bbg_xiv-bootstrap{
  div.bbg_xiv-gallery_envelope{
    margin:0;
  }

  nav.navbar.bbg_xiv-gallery_navbar{
    overflow:visible;
    
    div.navbar-collapse ul.nav li.dropdown{
      margin:0;

      a.dropdown-toggle.bbg_xiv-selected_view{
        color:white;
        text-transform:capitalize;
      }
    }

    li>a{
      border:0px none;
    }

    form.bbg_xiv-search_form{
      padding:0 5px;
      margin-top:0;
      margin-bottom:0;
      button.bbg_xiv-search{
        @include navbar_icons();
      }
    }

    button.bbg_xiv-home,button.bbg_xiv-configure,button.bbg_xiv-help{
      display:block;
      @include navbar_icons();

      @media(min-width:768px){
        float:right;
      }

      span.bbg_xiv-navbar_button_text{
        display:none;
      }
    }
    
    ul.nav li.dropdown ul.dropdown-menu li.dropdown-header{
      padding-left:5px;
      font-size:110%;
      font-weight:bold;
      text-decoration:underline;
    }

    div.navbar-header button.navbar-toggle{
      border:0 solid transparent;
    }
    
    @media(max-width:767px){
      form.bbg_xiv-search_form{
        height:54px;
 
        div.form-group{
          width:90%;
          float:left;
        }

        button[type='submit']{
          width:10%;
          padding:8px;
          margin-top:2px;
          margin-bottom:0;
          float:left;
        }
      }

      button.bbg_xiv-home,button.bbg_xiv-configure,button.bbg_xiv-help{
        clear:both;
        span.bbg_xiv-navbar_button_text{
          display:inline;
          padding-left:8px;
        }
      }
    }
  }
  
  &.bbg_xiv-gallery{
    div.navbar-header a.bbg_xiv-images_brand{
      color:white;
      @media(min-width:768px){
        display:none;
      }
    }
    
    .bbg_xiv-search_header,.bbg_xiv-alt_gallery_header{
      text-align:center;
      margin-bottom:10px;
      display:none;
      
      span{
        font-size:16px;
        font-weight:bold;
      }
      
      button{
        display:inline;
      }
    }
    
    .bbg_xiv-warning{
      color:red;
      text-align:center;
      margin-top:50px;
    }
    
    .bbg_xiv-info{
      color:gray;
      text-align:center;
      margin-top:50px;
    }
  }
  
  div.bbg_xiv-configure_outer{
    @include overlay_outer();
    opacity:0.9;
  }

  div.bbg_xiv-configure_inner{
    @include overlay_inner(15vh,10vw,80vw,70vh);
    padding: 10px 20px;
    background-color:white;
    border:3px solid cyan;
    border-radius:11px;
    
    button.bbg_xiv-configure_close{
      @include overlay_close_button();
    }
    
    span.bbg_xiv-radio_input{
      display:block;
      width:25%;
      float:left;
      padding:0px 6px;
      border:1px solid #ccc;
      border-radius:4px;
      @media(max-width:767px){
        width:100%;
        float:none;
      }
      
      span.bbg_xiv-radio_text{
        font-size:14px;
        vertical-align:middle;
      }

      input.form-control[type="radio"][name="bbg_xiv-bandwidth"],input.form-control[type="radio"][name="bbg_xiv-interface"]{
        display:inline;
        width:auto;
        margin:0px;
        vertical-align:middle;
      }
    }
    
    button.bbg_xiv-options_btn{
      float:right;
      margin:0px 5px;
      width:15%;
      @media(max-width:767px){
        width:20%;
      }
    }
  }
}

#content nav.navbar.bbg_xiv-gallery_navbar{
  overflow:visible;
  padding:0;
}

div.bbg_xiv-gallery_container{
  div.bbg_xiv-flex_item{
    padding-left:1%;
    padding-right:1%;
    figure{
      overflow:hidden;
      padding:2px;
      border:2px solid #888;
      margin-bottom:10px;
      figcaption{
        font-size:1.2rem;
        text-align:center;
        background-color:$caption-color;
        border-top-left-radius:6px;
        border-top-right-radius:6px;
        overflow:hidden;
      }
      img{
        width:100%;
        max-width:100%;
        height:auto;
        border-bottom-left-radius:6px;
        border-bottom-right-radius:6px;
        overflow:hidden;
      }
    }
  }
}

div.bbg_xiv-gallery_container{
  &.bbg_xiv-flex_width_100{
    div.bbg_xiv-flex_item{
      width:100%;
    }
  }
  &.bbg_xiv-flex_width_50{
    div.bbg_xiv-flex_item{
      width:50%;
      float:left;
      &:nth-of-type(2n+1){
        clear:both;
      }
    }
  }
  &.bbg_xiv-flex_width_33_3333{
    div.bbg_xiv-flex_item{
      width:33.3333%;
      float:left;
      &:nth-of-type(3n+1){
        clear:both;
      }
    }
  }
  &.bbg_xiv-flex_width_25{
    div.bbg_xiv-flex_item{
      width:25%;
      float:left;
      &:nth-of-type(4n+1){
        clear:both;
      }
    }
  }
  &.bbg_xiv-flex_width_20{
    div.bbg_xiv-flex_item{
      width:20%;
      float:left;
      &:nth-of-type(5n+1){
        clear:both;
      }
    }
  }
  &.bbg_xiv-flex_width_16_6666{
    div.bbg_xiv-flex_item{
      width:16.6666%;
      float:left;
      &:nth-of-type(6n+1){
        clear:both;
      }
    }
  }
  &.bbg_xiv-flex_width_14_2857{
    div.bbg_xiv-flex_item{
      width:14.2857%;
      float:left;
      &:nth-of-type(7n+1){
        clear:both;
      }
    }
  }
  &.bbg_xiv-flex_width_12_5{
    div.bbg_xiv-flex_item{
      width:12.5%;
      float:left;
      &:nth-of-type(8n+1){
        clear:both;
      }
    }
  }
  &.bbg_xiv-flex_width_11_1111{
    div.bbg_xiv-flex_item{
      width:11.1111%;
      float:left;
      &:nth-of-type(9n+1){
        clear:both;
      }
    }
  }
  &.bbg_xiv-flex_width_10{
    div.bbg_xiv-flex_item{
      width:10%;
      float:left;
      &:nth-of-type(10n+1){
        clear:both;
      }
    }
  }
  &.bbg_xiv-flex_width_9_0909{
    div.bbg_xiv-flex_item{
      width:9.0909%;
      float:left;
      &:nth-of-type(11n+1){
        clear:both;
      }
    }
  }
  &.bbg_xiv-flex_width_8_3333{
    div.bbg_xiv-flex_item{
      width:8.3333%;
      float:left;
      &:nth-of-type(12n+1){
        clear:both;
      }
    }
  }
}

div.bbg_xiv-flex_container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    div.bbg_xiv-flex_item{
        position:relative;
        flex:0 0 auto;
        box-sizing:border-box;
        width:100%;
        padding:1vh;
        margin:0px 0px 20px 0px;

        figure{
            box-sizing:border-box;
            display:block;
            width:100%;
            padding:3px;
            border:2px solid #888;
            border-radius:6px;
            margin:0;
            overflow:hidden;

            figcaption{
                font-size:1rem;
                text-align:center;
                background-color:$caption-color;
                padding:2px;
                border-top-left-radius:6px;
                border-top-right-radius:6px;
                overflow:hidden;
            }

            img{
                box-sizing:border-box;
                display:block;
                width:100%;
                max-width:100%;
                border-bottom-left-radius:6px;
                border-bottom-right-radius:6px;
                overflow:hidden;
            }
        }
        
        div.bbg_xiv-dense_full_btn{
            position:absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            z-index:10;
            color:transparent;
            background-color:transparent;

            button.bbg_xiv-dense_full_btn{
                position:absolute;
                top:10px;
                right:10px;
                z-index:1000;
                font-size:14px;
                padding:2px 2px 16px 16px;
                color:inherit;
                border-color:transparent;
                background-color:transparent;
                line-height:100%;
                box-shadow:none;
            }

            &:hover{
                color:gray;
                border-color:gray;
            }
        }
    }
    @include full_viewport_image_overlay();
}

div.bbg_xiv-flex_container.bbg_xiv-flex_no_caption,div.bbg_xiv-gallery_container.bbg_xiv-flex_no_caption{
    div.bbg_xiv-flex_item{
        figure{
            figcaption{
                display:none;
            }
            img{
                border-top-left-radius:6px;
                border-top-right-radius:6px;
            }
        }
        div.bbg_xiv-dense_full_btn{
            &:hover{
                color:$icon-color;
                border-color:$icon-color;
            }
        }
    }
}

div.bbg_xiv-flex_container_props{
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
}
  
@media (min-width: 480px){
  div.bbg_xiv-flex_item{
    width:50%;
  }
  div.bbg_xiv-flex_container_props{
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

@media (min-width: 768px) {
  div.bbg_xiv-flex_item{
    width: 33%;
  }
  div.bbg_xiv-flex_container_props {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}

@media (min-width: 992px) {
  div.bbg_xiv-flex_item{
    width: 25%;
  }
  div.bbg_xiv-flex_container_props {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
}

@media (min-width: 1200px) {
  div.bbg_xiv-flex_item{
    width: 20%;
  }
  div.bbg_xiv-flex_container_props {
    column-count: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;
  }
}

div.bbg_xiv-flex_container{
  &.bbg_xiv-flex_width_100{
    div.bbg_xiv-flex_item{
      width:100%;
    }
  }
  &.bbg_xiv-flex_width_50{
    div.bbg_xiv-flex_item{
      width:50%;
    }
  }
  &.bbg_xiv-flex_width_33_3333{
    div.bbg_xiv-flex_item{
      width:33.3333%;
    }
  }
  &.bbg_xiv-flex_width_25{
    div.bbg_xiv-flex_item{
      width:25%;
    }
  }
  &.bbg_xiv-flex_width_20{
    div.bbg_xiv-flex_item{
      width:20%;
    }
  }
  &.bbg_xiv-flex_width_16_6666{
    div.bbg_xiv-flex_item{
      width:16.6666%;
    }
  }
  &.bbg_xiv-flex_width_14_2857{
    div.bbg_xiv-flex_item{
      width:14.2857%;
    }
  }
  &.bbg_xiv-flex_width_12_5{
    div.bbg_xiv-flex_item{
      width:12.5%;
    }
  }
  &.bbg_xiv-flex_width_11_1111{
    div.bbg_xiv-flex_item{
      width:11.1111%;
    }
  }
  &.bbg_xiv-flex_width_10{
    div.bbg_xiv-flex_item{
      width:10%;
    }
  }
  &.bbg_xiv-flex_width_9_0909{
    div.bbg_xiv-flex_item{
      width:9.0909%;
    }
  }
  &.bbg_xiv-flex_width_8_3333{
    div.bbg_xiv-flex_item{
      width:8.3333%;
    }
  }
}

div.bbg_xiv-tiles_container{
  div.bbg_xiv-flex_container{
    display:block;
    div.bbg_xiv-flex_item{
      position:relative;
      float:left;
      overflow:hidden;
      figure{
        width:100%;
        height:100%;
        figcaption{
          display:none;
        }
        img{
          position:absolute;
          left:50%;
          top:50%;
          transform:translate(-50%,-50%);
          width:auto;
          height:100%;
        }
        img.portrait{
          width:100%;
          height:auto;
        }
        @supports (object-fit:cover){
          img{
            position:static;
            left:auto;
            top:auto;
            width:100%;
            height:100%;
            object-fit:cover;
            transform:none;
          }
        }
      }
    }
  }
}

div.bbg_xiv-bootstrap{
  div.carousel.slide{
    position:fixed;
    left:0px;
    top:0px;
    z-index:1000000;
    width:100vw;
    height:100vh;
    background-color:white;

    div.carousel-control{
      top:0;
      bottom:0;
      left:0;

      &.right{
        right:0;
        left:auto;
      }

      a.carousel-control{
        width:50%;
        border-bottom:0;
        color:#fff;
        background-image:none;
        background-color:transparent;
        opacity:0.5;
        
        span.glyphicon{
          position:absolute;
          top:50%;
          z-index:5;
          display:inline-block;
          margin-top:-10px;

          @media(min-width:768px){
            width:30px;
            height:30px;
            font-size:30px;
            margin-top:-15px;

            &.glyphicon-fast-backward,&.glyphicon-pause{
              margin-left:-15px;
            }

            &.glyphicon-fast-forward,&.glyphicon-remove,&.glyphicon-question-sign{
              margin-right:-15px;
            }
          }
        }

        &.left,&.right{
          top:25%;
          bottom:50%;
        }

        &.bbg_xiv-carousel_first,&.bbg_xiv-carousel_last{
          top:50%;
          bottom:25%;
        }

        &.bbg_xiv-carousel_play,&.bbg_xiv-carousel_help{
          top:75%;
          bottom:0%;
        }

        &.bbg_xiv-carousel_close{
          top:0%;
          bottom:75%;
        }

        &.bbg_xiv-carousel_left,&.bbg_xiv-carousel_first,&.bbg_xiv-carousel_play{
          span.glyphicon{
            left:50%;
            margin-left:-10px;
          }
        }

        &.bbg_xiv-carousel_right,&.bbg_xiv-carousel_last,&.bbg_xiv-carousel_close,&.bbg_xiv-carousel_help{
          right:0;
          left:auto;
          span.glyphicon{
            right:50%;
            margin-right:-10px;
          }
        }
      }
    }

    button.bbg_xiv-carousel_control_btn {
      position: absolute;
      bottom: 2%;
      width: 7%;
      z-index: 5;
      color: #7ff;
      background-color: transparent;
      border:1px solid transparent;
      box-shadow:none;
      @media(min-width:768px){
        font-size: 30px;
      }
    }

    .carousel-inner {
      height: 100%;

      > .item {
        width: 100%;
        height: 100%;
        position: relative;

        @supports not ( object-fit: contain ) {
          left: 7.5%;
          width: 85%;
          overflow: hidden;
        }

        > {
          img, a > img, a > picture > img {
            height: 80%;
            width: auto;
            max-width: none;
            position: absolute;
            left: 50%;
            top: 10%;
            transform: translate(-50%, 0px);
            padding: 1%;
            @supports ( object-fit: contain ) {
              width: 85%;
              object-fit: contain;
            }
            @media(max-aspect-ratio:1/1){
              height:70%;
              top:20%;
            }
          }

          figcaption {
            height: 10%;
            position: absolute;
            left: 50%;
            top: 0px;
            transform: translate(-50%, 0px);
            padding: 15px 0px 0px 0px;
            text-align: center;
            font-size: 3vh;
            line-height:1.3;
            overflow:hidden;
            @media(max-aspect-ratio:1/1){
              height:20%;
            }
          }
        }
      }
    }

    .carousel-indicators{
      bottom:2%;
      width:80%;
      margin-left:-40%;

      &.bbg_xiv-jquery_mobile form{
        width:auto;
        height:auto;
      }

      li {
        border: 1px solid black;
        background-color: gray;
        
        &.active{
          background-color:white;
        }
      }

      div.ui-slider{
        input.ui-slider-input{
          background-color:cyan;
          border:1px solid gray;
          border-radius:7px;
        }
        div.ui-slider-track a.ui-slider-handle{
          background-color:cyan;
          border:1px solid gray;
          margin:-14px 0 0 -14px;
        }
      }

      div.ui-field-contain{
        border:0 solid transparent;
      }
    }
  }

  div.bbg_xiv-embedded_carousel{
    div.carousel.slide{
      position:relative;
      z-index:auto;
      width:100%;
      height:80vh;
      max-height:100vw;
      border:2px solid gray;
      border-radius:5px;
      .carousel-inner>.item>figcaption{
        padding:5px 0 0 0;
        font-size:2vh;
      }
      .carousel-indicators div.ui-slider{
        margin:0;
      }
    }
  }
}

div.bbg_xiv-bootstrap{
  div.bbg_xiv-template_tabs_container,div.bbg_xiv-gallery_tabs_container{
    nav.navbar{
      background-color:#ddd;
      border-color:#888;
    }
    div.navbar-header{
      color:white;
      background-color:#222;

      a.bbg_xiv-tabs_brand{
        color:white;
        border-bottom:0 solid transparent;
        @media(min-width:768px){
          display:none;
        }
      }

      button.navbar-toggle{
        color:white;
        border:0 solid transparent;
        &:focus{
          background-color:#222;
        }
        span.icon-bar{
          background-color:white;
        }
      }
    }
 
    div.navbar-collapse{
      width:95%;
      float:left;
      padding-left:0;
      padding-right:0;

      &.bbg_xiv-closed{
        max-height:10vh !important;
        overflow:auto !important;
        @media(max-width:767px){
          height:auto !important;
          max-height:none !important;
          overflow:hidden !important;
        }
      }

      &.bbg_xiv-open{
        height:auto !important;
        overflow:hidden !important;
      }

      &.bbg_xiv-hide_scroll{
        overflow:hidden !important;
      }

      ul.nav-tabs{
        line-height:1.0;
        border-bottom:0 solid transparent;
        margin:0;

        li{
          margin:0 0 2px 0;

          &.active a{
            background-color:$tabs-highlight-color;
          }

          &.bbg_xiv-tabs_title{
            width:8em;
            text-align:center;
            background-color:#aaa;
            border:0;
            @media(max-width:767px){
              display:none;
            }
            a{
              color:black;
              font-size:14px;
              font-weight:bold;
            }
          }
        }
      }
    }
    span.glyphicon-collapse-down,span.glyphicon-collapse-up{
      width:5%;
      float:right;
      font-size:24px;
      text-align:right;
      padding-bottom:16px;
      display:none;
      @media(min-width:768px){
        display:block;
      }
    }
    nav.navbar{
      min-height:0;

      ul.nav{
        text-align:justify;
        li{
          display:inline-block;
          float:none;
          a{
            font-weight:bold;
            font-size:14px;
            padding:2px 5px;
            border:1px solid transparent;
          }
        }
      }
    }
    
    div.tab-content{
      width:100%;
      figure{
        position:relative;
        width:100%;
        min-height:100vh;
        overflow-x:hidden;
        overflow-y:auto;
        img.bbg_xiv-tabs_img{
          position:relative;
          left:50%;
          top:0px;
          transform:translate(-50%,0px);
          display:block;
          height:70vh;
          max-width:none;
          padding:0px;
          @supports(object-fit:contain){
            width:100%;
            object-fit:contain;
          }
          @media(max-aspect-ratio:1/1){
            object-fit:fill;
            height:auto;
            width:100%;
          }
        }
        figcaption{
          width:100%;
          text-align:center;
          padding:10px;
        }
      }
    }
  }
}

#content div.bbg_xiv-bootstrap{
  div.bbg_xiv-template_tabs_container,div.bbg_xiv-gallery_tabs_container{
    nav.navbar{
      padding:0;
      border:2px solid gray;
      border-radius:5px;
    }
  }
}

div.bbg_xiv-bootstrap{
  img,button{
    box-shadow:none;
  }
}

div.bbg_xiv-bootstrap{
  div.bbg_xiv-dense_container{
    position:fixed;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    z-index:1000000;
    background-color:white;
    padding:50px 10px 0px 10px;

    /* These hidden buttons exists only to hold the highlight and normal colors. */
    
    button#bbg_xiv-normal_color{
      display:none;
      background-color:$normal-color;
    }

    button#bbg_xiv-highlight_color{
      display:none;
      background-color:$highlight-color;
    }
    
    div.bbg_xiv-dense_button_box{
      position:absolute;
      top:5px;
      left:25px;
      z-index:5;
      padding:0px 7px;
      border:1px solid gray;
      border-radius:6px;
      
      input.bbg_xiv-dense_li_mode{
      }
    }

    button.bbg_xiv-dense_close_btn{
      position:absolute;
      top:5px;
      right:25px;
      z-index:5;
      color:#888;
      background-color:transparent;
      line-height:100%;
      padding:0px;
    }

    div.bbg_xiv-dense_titles{
      width:25%;
      height:96%;
      float:left;
      position:relative;
      overflow-y:auto;
      
      li{
        font-size:14px;
        background-color:$normal-color;
        padding-left:10px;
        border-radius:6px;
        
        button.bbg_xiv-dense_full_btn{
          padding:2px;
          color:$caption-color;
          background-color:transparent;
          border-color:$caption-color;
          line-height:100%;
          box-shadow:none;
        }
      }
    }
    
    div.bbg_xiv-dense_images{
      width:75%;
      height:96%;
      float:left;
      position:relative;
      overflow-y:auto;
      div.bbg_xiv-dense_flex_images{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:flex-start;
        align-items:center;
        
        div.bbg_xiv-dense_flex_item{
          position:relative;
          width:10%;
          flex:0 0 auto;
          border:6px solid $normal-color;
          border-radius:6px;
          
          img{
            width:100%;
            max-width:100%;
          }
          
          div.bbg_xiv-dense_full_btn{
            position:absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            z-index:10;
            color:transparent;
            background-color:transparent;
            button.bbg_xiv-dense_full_btn{
              position:absolute;
              top:4px;
              right:4px;
              z-index:1000;
              font-size:14px;
              padding:2px;
              color:inherit;
              border-color:inherit;
              background-color:transparent;
              line-height:100%;
              box-shadow:none;
            }
            &:hover{
              color:$icon-color;
              border-color:$icon-color;
            }
          }
        }
      }
    }

    @include full_viewport_image_overlay();
  }
}

div.bbg_xiv-bootstrap{
  div.bbg_xiv-table{
    height:80vh;
    overflow-x:scroll;
    overflow-y:scroll;
    
    table.bbg_xiv-table{
      width:5000px;
      max-width:none;
      table-layout:auto;
    }
  }
}

div.bbg_xiv-bootstrap{
  .dropdown-toggle{
    top:auto;
    width:auto;
    height:auto;
    &::after{
      content:none
    }
  }
}

div.ui-loader{
  text-align:center;
  height:100vh;

  span.ui-icon-loading{
    background:url("images/ajax-loader.gif");
    background-size:100% 100%;
    display:inline-block;
    width:50px;
    height:50px;
    border-radius:25px;
    vertical-align:middle;
    margin-right:20px;
  }

  h1{
    display:inline;
    vertical-align:middle;
    font-size:25px;
  }
}
