/* Stylesheet for the Bootstrap views of the 'gallery' shortcode */

/* The colors for the Dense View */

$normal-color:white;
$highlight-color:yellow;

div.bbg_xiv-bootstrap{
  nav.navbar{
    li>a{
      border:0px none;
    }
  }
}

div.bbg_xiv-gallery_container{
  figure{
    overflow:hidden;
    padding:2px;
    border:2px solid #888;
    margin-bottom:10px;
    figcaption{
      font-size:1.2rem;
      text-align: center;
      background-color: cyan;
      border-top-left-radius:6px;
      border-top-right-radius:6px;
      overflow:hidden;
    }
    img{
      width:100%;
      max-width:100%;
      height:auto;
      border-bottom-left-radius:6px;
      border-bottom-right-radius:6px;
      overflow:hidden;
    }
  }
}

div.bbg_xiv-flex_container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    div.bbg_xiv-flex_item{
        flex:0 0 auto;
        box-sizing:border-box;
        width:100%;
        padding:1vh;
        margin:0px 0px 20px 0px;

        figure{
            box-sizing:border-box;
            display:block;
            width:100%;
            padding:3px;
            border:2px solid #888;
            border-radius:6px;
            margin:0;
            overflow:hidden;

            figcaption{
                font-size:1rem;
                text-align:center;
                background-color:cyan;
                padding:2px;
                border-top-left-radius:6px;
                border-top-right-radius:6px;
                overflow:hidden;
            }

            img{
                box-sizing:border-box;
                display:block;
                width:100%;
                max-width:100%;
                border-bottom-left-radius:6px;
                border-bottom-right-radius:6px;
                overflow:hidden;
            }
        }
    }
}

div.bbg_xiv-flex_container.bbg_xiv-flex_no_caption{
    div.bbg_xiv-flex_item{
        figure{
            figcaption{
                display:none;
            }
            img{
                border-top-left-radius:6px;
                border-top-right-radius:6px;
            }
        }
    }
}

div.bbg_xiv-flex_container_props{
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
}
  
@media (min-width: 480px){
  div.bbg_xiv-flex_item{
    width:50%;
  }
  div.bbg_xiv-flex_container_props{
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

@media (min-width: 768px) {
  div.bbg_xiv-flex_item{
    width: 33%;
  }
  div.bbg_xiv-flex_container_props {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}

@media (min-width: 992px) {
  div.bbg_xiv-flex_item{
    width: 25%;
  }
  div.bbg_xiv-flex_container_props {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
}

@media (min-width: 1200px) {
  div.bbg_xiv-flex_item{
    width: 20%;
  }
  div.bbg_xiv-flex_container_props {
    column-count: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;
  }
}

div.bbg_xiv-flex_container{
  &.bbg_xiv-flex_width_100{
    div.bbg_xiv-flex_item{
      width:100%;
    }
  }
  &.bbg_xiv-flex_width_50{
    div.bbg_xiv-flex_item{
      width:50%;
    }
  }
  &.bbg_xiv-flex_width_33_3333{
    div.bbg_xiv-flex_item{
      width:33.3333%;
    }
  }
  &.bbg_xiv-flex_width_25{
    div.bbg_xiv-flex_item{
      width:25%;
    }
  }
  &.bbg_xiv-flex_width_20{
    div.bbg_xiv-flex_item{
      width:20%;
    }
  }
  &.bbg_xiv-flex_width_16_6666{
    div.bbg_xiv-flex_item{
      width:16.6666%;
    }
  }
  &.bbg_xiv-flex_width_14_2857{
    div.bbg_xiv-flex_item{
      width:14.2857%;
    }
  }
  &.bbg_xiv-flex_width_12_5{
    div.bbg_xiv-flex_item{
      width:12.5%;
    }
  }
  &.bbg_xiv-flex_width_11_1111{
    div.bbg_xiv-flex_item{
      width:11.1111%;
    }
  }
  &.bbg_xiv-flex_width_10{
    div.bbg_xiv-flex_item{
      width:10%;
    }
  }
  &.bbg_xiv-flex_width_9_0909{
    div.bbg_xiv-flex_item{
      width:9.0909%;
    }
  }
  &.bbg_xiv-flex_width_8_3333{
    div.bbg_xiv-flex_item{
      width:8.3333%;
    }
  }
}

div.bbg_xiv-bootstrap{
  div.carousel.slide{
    position:fixed;
    left:0px;
    top:0px;
    z-index:1000000;
    width:100vw;
    height:100vh;
    background-color:white;
    
    button.bbg_xiv-carousel_close_btn {
      position: absolute;
      top: 2%;
      right: 2%;
      z-index: 5;
      color: #fff;
      background-color: transparent;
    }

    .carousel-inner {
      height: 100%;

      > .item {
        width: 100%;
        height: 100%;
        position: relative;

        > {
          img, a > img {
            height: 90%;
            width: auto;
            max-width: none;
            position: absolute;
            left: 50%;
            top: 0px;
            transform: translate(-50%, 0px);
            padding: 1%;
            @supports ( object-fit: contain ) {
              width: 100%;
              object-fit: contain;
            }
          }

          figcaption {
            height: 10%;
            position: absolute;
            left: 50%;
            bottom: 0px;
            transform: translate(-50%, 0px);
            padding: 0px;
            text-align: center;
            font-size: 3vh;
          }
        }
      }
    }

    .carousel-indicators {
      bottom: 12%;

      li {
        border: 1px solid black;
        background-color: gray;
        
        &.active{
          background-color:white;
        }
      }
    }
  }
}

div.bbg_xiv-bootstrap{
  div.bbg_xiv-template_tabs_container{
    div.navbar-collapse{
      width:96%;
      float:left;
      overflow:auto !important;
      &.bbg_xiv-closed{
        height:10vh !important;
        @media(max-width:767px){
          height:auto !important;
        }
      }
      &.bbg_xiv-open{
        height:auto !important;
      }
    }
    span.glyphicon-collapse-down,span.glyphicon-collapse-up{
      float:right;
      font-size:20px;
      display:none;
      @media(min-width:768px){
        display:block;
      }
    }
    nav.navbar{
      ul.nav li a{
        font-size:14px;
        padding:5px 10px;
      }
    }
    div.tab-content{
      height:80vh;
      figure{
        position:relative;
        height:100%;
        overflow-x:hidden;
        overflow-y:auto;
        img{
          position:absolute;
          left:50%;
          top:0px;
          transform:translate(-50%,0px);
          display:block;
          height:85%;
          max-width:none;
          padding:0px;
          @supports( object-fit:contain){
            width:100%;
            object-fit:contain;
          }
        }
        figcaption{
          position:absolute;
          left:0px;
          top:85%;
          width:100%;
          text-align:center;
          padding:10px;
        }
      }
    }
  }
}
div.bbg_xiv-bootstrap{
  div.bbg_xiv-dense_container{
    position:fixed;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    z-index:1000000;
    background-color:white;
    padding:50px 10px 0px 10px;

    /* These hidden buttons exists only to hold the highlight and normal colors. */
    
    button#bbg_xiv-normal_color{
      display:none;
      background-color:$normal-color;
    }

    button#bbg_xiv-highlight_color{
      display:none;
      background-color:$highlight-color;
    }
    
    div.bbg_xiv-dense_button_box{
      position:absolute;
      top:5px;
      left:25px;
      z-index:5;
      padding:0px 7px;
      border:1px solid gray;
      border-radius:6px;
      
      input.bbg_xiv-dense_li_mode{
      }
    }

    button.bbg_xiv-dense_close_btn{
      position:absolute;
      top:5px;
      right:25px;
      z-index:5;
      color:#888;
      background-color:transparent;
      line-height:100%;
      padding:0px;
    }

    div.bbg_xiv-dense_titles{
      width:25%;
      height:96%;
      float:left;
      position:relative;
      overflow-y:auto;
      
      li{
        font-size:14px;
        background-color:$normal-color;
        padding-left:10px;
        border-radius:6px;
      }
    }
    
    div.bbg_xiv-dense_images{
      width:75%;
      height:96%;
      float:left;
      position:relative;
      overflow-y:auto;
      div.bbg_xiv-dense_flex_images{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:flex-start;
        align-items:center;
        
        div.bbg_xiv-dense_flex_item{
          width:10%;
          flex:0 0 auto;
          border:6px solid $normal-color;
          border-radius:6px;
          
          img{
            width:100%;
            max-width:100%;
          }
        }
      }
    }
  }
}

div.bbg_xiv-bootstrap{
  div.bbg_xiv-table{
    height:80vh;
    overflow-x:scroll;
    overflow-y:scroll;
    
    table.bbg_xiv-table{
      width:5000px;
      max-width:none;
      table-layout:auto;
    }
  }
}
